.page {
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.loadingContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundImage {
    object-fit: cover;
    z-index: 0;
}

.buttonContainer {
    position: absolute;
    bottom: 10%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    animation: fadeInButton 1s ease-in-out 2.5s forwards;
    z-index: 10000;
}

/* TEXTBOX STYLING  */
.TextContainer {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    width: 40%;
    opacity: 0;
    animation: fadeInText 1s ease-in-out 2.5s forwards;
    z-index: 5000;
    display: flex;
    flex-direction: column;
    gap: var(--font-size-extra-small);
}

.TextItems {
    display: flex;
    flex-direction: column;
    gap: var(--font-size-small); /* 16px */
}

/* TIMELINE BAR STYLING */
.Timeline {
    position: relative;
    z-index: 100000;
}

.bowlerHat,
.apple {
    z-index: 9999;
}

/* ANIMATIONS */

@keyframes fadeInButton {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(-40%);
    }
    to {
        opacity: 1;
        transform: translateY(-50%);
    }
}
