:root {
    --background: #ffffff;
    --foreground: #171717;

    /* Colour Palette */
    --black-500: #000000;
    --grey-500: #808080;
    --off-white-500: #f5f5f5;
    --off-white-600: #f0f0f0;
    --light-blue-100: #cadfff;
    --light-blue-500: #5399ff;
    --dark-blue-500: #4a6fa5;
    --light-gold-500: #f0e68c;
    --dark-gold-500: #b8860b;

    /* Typography */
    --font-bold: 700;
    --font-semibold: 600;
    --font-wregular: 400;

    --font-size-extra-large: 48px;
    --font-size-large: 32px;
    --font-size-medium: 24px;
    --font-size-regular: 20px;
    --font-size-small: 16px;
    --font-size-extra-small: 12px;

    --line-height-extra-large: 52px;
    --line-height-large: 36px;
    --line-height-medium: 28px;
    --line-height-regular: 20px;
    --line-height-small: 16px;

    /* Shadows  */
    --shadow-default: 8px 8px 16px rgba(65, 105, 225, 0.15),
        -8px -8px 16px rgba(135, 206, 235, 0.3),
        inset 1px 1px 2px rgba(135, 206, 235, 0.4),
        inset -1px -1px 2px rgba(65, 105, 225, 0.1);

    --shadow-hover: 6px 6px 12px rgba(65, 105, 225, 0.3),
        -6px -6px 12px rgba(135, 206, 235, 0.5),
        inset 1px 1px 2px rgba(135, 206, 235, 0.6),
        inset -1px -1px 2px rgba(65, 105, 225, 0.2);

    --shadow-active: inset 4px 4px 8px rgba(65, 105, 225, 0.2),
        inset -4px -4px 8px rgba(135, 206, 235, 0.3);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-open-sans), "Open Sans SemiCondensed", sans-serif;
    font-stretch: semi-condensed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: inherit;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
