.framesGrid {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.frame {
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.3));
}

.frameImage {
    width: 100%;
    height: auto;
}

