.framesGrid {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.frame {
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.4));
    transition: transform 0.3s ease;
}

.clickableFrame {
    cursor: pointer;
}

.clickableFrame:hover {
    transform: scale(1.1);
}

.framePicture {
    position: absolute;
    top: 11%;
    left: 11%;
    width: 78%;
    height: 78%;
    object-fit: cover;
    object-position: center top;
    z-index: 1;
}

.framePictureCenter {
    object-position: center center;
}

.frameImage {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
}

