.textbox {
    padding: 16px 48px;
    border: none;
    border-radius: 16px;
    background: var(--off-white-500);
    color: var(--dark-blue-500);
    font-size: var(--font-size-small);
    box-shadow: var(--shadow-default);
    transition: all 0.3s ease;
    text-align: center;
}

.textbox.transparent {
    background: transparent !important;
    box-shadow: none !important;
}

.button:hover {
    background: var(--light-blue-100);
    box-shadow: var(--shadow-hover);
    transform: translateY(-2px);
}

.button:active {
    box-shadow: var(--shadow-active);
    transform: translateY(0);
}
